<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>18/06/28 22:44:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCommentFunction.buildInput()[pri:0, instance:tests.TestCommentFunction@604ed9f0]">&gt;&gt;buildInput</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/06/28 22:44:09</td>   <td>4606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCommentFunction.buildInput()[pri:0, instance:tests.TestCommentFunction@604ed9f0]">&gt;&gt;buildInput</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/06/28 22:44:02</td>   <td>-2890</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCommentFunction.initPage()[pri:0, instance:tests.TestCommentFunction@604ed9f0]">&gt;&gt;initPage</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/06/28 22:43:51</td>   <td>-13419</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initialize()[pri:0, instance:tests.TestCommentFunction@604ed9f0]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/06/28 22:44:15</td>   <td>10692</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:tests.TestCommentFunction@604ed9f0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/06/28 22:44:09</td>   <td>4606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCommentFunction.testWithCorrectEmail()[pri:0, instance:tests.TestCommentFunction@604ed9f0]">testWithCorrectEmail</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/06/28 22:44:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCommentFunction.testWithWrongEmail()[pri:0, instance:tests.TestCommentFunction@604ed9f0]">testWithWrongEmail</td> 
  <td>main@1690254271</td>   <td></td> </tr>
</table>
